#nav a{
    color: white;
    padding: 5px 30px;
    
}

#nav .nav-link{
    color: grey;
}

#nav{
    background-color: rgb(8, 8, 8);
}

div.dropdown-menu{
    background-color: rgb(8, 8, 8);;
}











